{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}
{% block content %}

<body>

    <div class="container">

        {{wtf.quick_form(comment_form)}}

        {% for comment in comment %}

        <p>{{ comment.proposed_solution }}</p>
        <a href="" class="btn btn-sm btn-success">Upvotes</a>
        <a href="" class="btn btn-sm btn-danger">Downvotes</a>

        {% endfor %}

    </div>


</body>

{% endblock %}