{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}
{% block content %}

    <div  i="particles-js"  >  
        <div class=" row" >
                
            <div class="col-md-2"></div>
            <div class="col-md-8" id="crimeform">
                <h2 class="text-center ">Drop your Security issues here!</h2>
                {{wtf.quick_form(crime_form)}}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="container-fluid">
  
</div>
   
{% endblock%}