<div class="navbar navbar-inverse bgcolor" role="navigation" style = "background-color: aqua; color:black">

  <div class="container-fluid">
    <div class="navbar-header">

      <a href="/" class="navbar-brand" style="color:black; font-size: 30px"><b>Phoenix Security Solutions</b></a>
      <a class="navbar-brand" id="post" href="{{url_for('main.new_crime')}}">Crimes</a>
    </div>


    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
        <div style="display: flex;">
          <li style="margin-right: 5px;"><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
          <li>  </li>
          <li><a href="{{url_for('auth.logout')}}"style="color:black;"><b>Sign out</b></a></li>
        </div>
      {% else %}
        <li><a href="{{url_for('auth.login')}}" style="color:black;"><b>sign in</b></a></li>
      {% endif %}
    </ul>

  </div>

</div>
